{% extends "pizza/base.html" %}

{% block tytul_head %}
  Django – przykładowa aplikacja Mały Bar
{% endblock %}

{% block tytul_h1 %}Mały Bar{% endblock %}

{% block tresc %}
<p>{{ komunikat }}</p>
<ul>
  {% if not user.is_authenticated %}
    <li><a href="{% url 'auth_login' %}">Zaloguj się</a></li>
    <li><a href="{% url 'registration_register' %}">Utwórz konto</a></li>
  {% else %}
    <li><a href="{% url 'pizza:lista' %}">Lista</a></li>
    <li><a href="{% url 'pizza:listas' %}">Lista składników</a></li>
    <li><a href="{% url 'auth_logout' %}">Wyloguj się</a></li>
  {% endif %}
</ul>
{% endblock %}
